@import url('https://fonts.googleapis.com/css?family=Nunito');

/* BASE */

:root {
  --main-font: 'Nunito', sans-serif;
  --green: #06A08B;
}

body {
  border-top: 10px solid var(--green);
  font-family: var(--main-font);
  font-size: 14px;
  margin: 0;
}

p { color: #666; }

img { max-width: 100%; }

.container {
  margin: 0 auto;
  max-width: 60vw;
}

.image { margin: 0; }